---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about my background and approach to software engineering.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    Full-stack developer specializing in scalable API and web application development, with proven experience in Laravel, Vue.js, AWS, and MySQL.
  </p>
  <p>
    Adept at building both front-end and back-end solutions for production environments, with additional skills in .NET MAUI, C#, and various CMS platforms.
  </p>
  <p>
    Passionate about delivering performant, user-friendly applications and contributing to high-impact projects in dynamic teams.
  </p>

  <GlowLineSeparator />

</Layout>
