---
interface Props {
  width?: number | string;
  class?: string;
}

const { width = '100%', class: className } = Astro.props as Props;
---

<div class={['sw-separator-glow', className].filter(Boolean).join(' ')} style={`--sep-width: ${String(width)};`}>
  <div class="sw-glow" />
  <span class="sr-only">Separator</span>
</div>


